<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <title>AnotherApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Getit</h3>
              <nav class="nav nav-masthead">
              <%= nav_helper "nav-link", 'span' %>
              </nav>
            </div>
          </header>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>

          <%= yield %>

          
    
        </div>
      </div>
    </div>
  </body>
</html>
