<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <title>AnotherApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="masthead clearfix">
    <div class="inner">
      <nav class="nav nav-masthead app-nav">
      <h3 class="masthead-brand">Getit</h3>
      <%= nav_helper "nav-link", 'span' %>
      <%= login_helper "nav-link" %>
      </nav>
    </div>
  </div>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>

          <%= yield %>
    
        </div>
      </div>
    </div>
  </body>
</html>
